body{
    background-color: pink;
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 2rem;
}

    #button{
        background-color: red;
        color: white;
        font-size: 18px;
        padding:5px;
    }
